body {
  font-family: Arial;
  padding: 20px;
}

.controls {
  margin-bottom: 20px;
}

.question {
  margin-bottom: 8px;
}

h1 {
  text-align: center;
}

#worksheet {
  margin-top: 20px;
}

@media print {
  .controls {
    display: none;
  }
}
