body {
  font-family: Arial;
  padding: 20px;
}

.controls {
  margin-bottom: 20px;
}

.question {
  margin-bottom: 8px;
}

h1 {
  text-align: center;
}

#worksheet {
  margin-top: 20px;
}

@media print {
  .controls {
    display: none;
  }
}
#answerSection {
  margin-top: 30px;
}

.answer-grid {
  column-count: 2;
}

.answer-item {
  margin-bottom: 6px;
}
